__pycache__/

# local secrets
webui_secret_key
.webui_secret_key
.env*

# Coverage
.coverage*

# Node/deno
.vite/
node_modules/
dist/
.svelte-kit/

# Open WebUI
!/build
/build/*
!/build/.gitkeep
frontend/
!/src
/src/*
!/src/routes
/src/routes/*
!/src/routes/(app)
/src/routes/(app)/*
!/src/routes/(app)/admin
/src/routes/(app)/admin/*
!/src/routes/(app)/admin/+layout.svelte
!/src/routes/(app)/admin/mcp

!/src/lib
/src/lib/*
!/src/lib/api
/src/lib/api/v1.d.ts

!/src/lib/components
/src/lib/components/*
!/src/lib/components/chat
/src/lib/components/chat/*
!/src/lib/components/chat/Chat.svelte

/static/*
i18next-parser.config.ts
postcss.config.js
svelte.config.js
tailwind.config.js
tsconfig.json
