__pycache__/

# local secrets
webui_secret_key
.webui_secret_key
.env*

# Coverage
.coverage

# Node/deno
.vite/
node_modules/
dist/
.svelte-kit/

# Open WebUI
build/
src/
static/
i18next-parser.config.ts
postcss.config.js
svelte.config.js
tailwind.config.js
tsconfig.json
uploads/17-大模型应用开发入门：Assistants API.pdf
uploads/500d-cvresume.pdf
uploads/简历.pdf
uploads/cv-zn.pdf
uploads/Lecture 01 - Basics.pdf
uploads/models-export-1735113518662.json
uploads/Lecture 03 - Control Structures and IO.pdf
uploads/Lecture 04 - Object Oriented Programming.pdf
uploads/OOSE.zip
uploads/package-lock.json
uploads/Resume (2).pdf
.DS_Store
omni_webui/models/apiKey.py
